<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"> {{#link-to 'home'}} Viky Blog {{/link-to}} </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome {{session.user.name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a {{action 'logOut'}}>Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="col-md-4 noPadding mt20">
    {{ember-selectize
  content=countList
  selection=selectedCount
  placeholder="Select an item" }}
</div>

<div class="form-group col-md-3">
    <button type="button" class="btn btn-primary btn-lg btn-block login-button" {{action 'createSecretCode'}}>Create Secret Code</button>
</div>

<div class="col-md-12 noPadding mt20">
  <div class="centered bold-text">{{tableName}}</div>
  <div class="col-md-12 white-bg mt20">
    <div class="row table-header-scorecard-pattern noMargin col-md-12">
        <div class="col-md-6 full-row-height45 report-header centered">
            Secret Code
        </div>
        <div class="col-md-6 full-row-height45 report-header centered">
            Email
        </div>
    </div>

    <div class = "noPadding">
        <div class="col-md-12 row noMargin hover bt1">
            {{#each model as |rec|}}
                <div class="full-row-height45 col-md-6 centered">
                  {{rec.name}}
                </div>
                <div class="full-row-height45 col-md-6 centered">
                  ({{rec.user.email}})
                </div>
            {{/each}}    
        </div>
    </div>
  </div>
</div>

{{outlet}}