<p id="notice"><%= notice %></p>

<h1>Secret Codes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secret_codes.each do |secret_code| %>
      <tr>
        <td><%= link_to 'Show', secret_code %></td>
        <td><%= link_to 'Edit', edit_secret_code_path(secret_code) %></td>
        <td><%= link_to 'Destroy', secret_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Secret Code', new_secret_code_path %>
